@import "../utils/vars";
.advantages {
	display: flex;
	align-items: center;
	gap: 30px;

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-wrap: wrap;
	}
}
.advantages__text-box {
	width: 450px;
	height: auto;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: 354px;
	}

	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

.advantages__text {
	line-height: 1.71;
	color: $imagesFontColor;
	letter-spacing: 0.03em;
}
.advantages__tittle {
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
	font-size: 14px;
}
.advantages__icon {
	width: 70px;
	height: 70px;
}
.advantages__icon-box {
	background: $filtersBackgroundColor;
	border-radius: 4px;
	margin-bottom: 30px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}
