@import "../utils/vars";

.destiny {
	padding-top: 0px;
}
.destiny__card-container {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
.destiny__card-image-box {
	position: relative;
}

.destiny__card-text {
	font-weight: 700;
	color: $mainBackgroundColor;
	line-height: 1.14em;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(47, 48, 58, 0.8);
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
