@import "../utils/vars";
.mobile__menu {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: flex-start;
	margin-top: 48px;
	margin-left: 40px;
}

.mobile__container {
	margin-top: 10px;
	margin-left: 276px;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
.mobile__link {
	font-size: 40px;
	font-weight: 500;
	line-height: 47px;
	letter-spacing: 0.02em;
	color: $footerStudioColor;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $mainBlueColor;
		transform: color;
	}
}
.mobile__menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $mainBackgroundColor;
	z-index: 999;

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;

	& .mobile__menu-toggle {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}
.mobile__is-open {
	transform: translateX(0);
}

.mobile__menu-toggle {
	min-height: 40px;
	min-width: 40px;
	background-color: $mainBackgroundColor;

	cursor: pointer;
	border: none;
	outline: none;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: $mainBlueColor;
		transform: fill;
	}

	@media (min-width: 768px) {
		display: none;
	}
}

.mobile__menu-icon {
	width: 40px;
	height: 40px;
	color: $footerStudioColor;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile__contact-list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: flex-start;
	margin-top: 302px;
	margin-left: 40px;
}
.mobile__contact-text {
	color: $imagesFontColor;
	font-weight: 500;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 0.02em;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $mainBlueColor;
		transform: color;
	}
}
.mobile__contact-text--size {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.02em;
}

.mobile__social-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
	margin-top: 64px;
	margin-left: 40px;
}
.mobile__social-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: $mainBlueColor;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $mainFontColor;
		transform: color;
	}
	&::after {
		content: "";
		padding-left: 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}
}
.mobile__social-text--line {
	&::after {
		content: "";
		border: none;
	}
}
