@import "../utils/vars";

.portfolio-filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.portfolio-filters__btn {
	font-size: 16px;
	line-height: 1.62;
	font-weight: 500;
	background-color: $filtersBackgroundColor;
	letter-spacing: 0.03em;
	padding: 6px 22px;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $mainBlueColor;
		color: $mainBackgroundColor;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		transform: scale(0.8);
	}
}
