@import "../utils/vars";
@media screen and (max-width: 767px) {
	.page-header {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.16em;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.page-header {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.16em;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 1200px) {
	.page-header {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16em;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 50px;
	}
}
