$mainFontColor: #212121;
$imagesFontColor: #757575;

$headerBackgroundColor: #2f303a;
$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #afb1b8;
$filtersBackgroundColor: #f5f4fa;

$navLineColor: #ececec;
$mainBlueColor: #2196f3;
$footerTextColor: rgba(255, 255, 255, 0.6);
$footerStudioColor: #000000;

$mainFont: "Roboto", sans-serif;
$logoFont: "Raleway";
